<?xml version="1.0" ?>
<robot name="test_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_bot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_bot_description)/urdf/test_bot.trans" />
<xacro:include filename="$(find test_bot_description)/urdf/test_bot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="5.299616001510307e-06 1.4970156408334876e-05 0.09478457589694943" rpy="0 0 0"/>
    <mass value="7.270938915545308"/>
    <inertia ixx="0.081173" iyy="0.066133" izz="0.128648" ixy="5e-06" iyz="-8e-06" ixz="-3e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="front_right_wheel_1">
  <inertial>
    <origin xyz="-6.800116025829084e-16 0.017499999999999988 6.938893903907228e-18" rpy="0 0 0"/>
    <mass value="2.1524867502996523"/>
    <inertia ixx="0.001568" iyy="0.002697" izz="0.001568" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.115 0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/front_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.115 0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/front_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="front_left_wheel_1">
  <inertial>
    <origin xyz="-6.800116025829084e-16 -0.017499999999999988 6.938893903907228e-18" rpy="0 0 0"/>
    <mass value="2.1524867502996523"/>
    <inertia ixx="0.001568" iyy="0.002697" izz="0.001568" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.115 -0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/front_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.115 -0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/front_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="back_left_wheel_1">
  <inertial>
    <origin xyz="-6.522560269672795e-16 -0.017499999999999988 6.938893903907228e-18" rpy="0 0 0"/>
    <mass value="2.1524867502996514"/>
    <inertia ixx="0.001568" iyy="0.002697" izz="0.001568" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.115 -0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/back_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.115 -0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/back_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="back_right_wheel_1">
  <inertial>
    <origin xyz="-6.522560269672795e-16 0.017499999999999988 6.938893903907228e-18" rpy="0 0 0"/>
    <mass value="2.1524867502996523"/>
    <inertia ixx="0.001568" iyy="0.002697" izz="0.001568" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.115 0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/back_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.115 0.175 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/back_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="1.4901161100590808e-09 2.1636013104405806e-07 0.035" rpy="0 0 0"/>
    <mass value="4.315762907868978"/>
    <inertia ixx="0.00446" iyy="0.00446" izz="0.005395" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.00057 -0.283" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.00057 -0.283" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_bot_description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="front_right_wheel_joint" type="continuous">
  <origin xyz="0.115 -0.175 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="front_right_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="front_left_wheel_joint" type="continuous">
  <origin xyz="0.115 0.175 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="front_left_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="back_left_wheel_joint" type="continuous">
  <origin xyz="-0.115 0.175 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="back_left_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="back_right_wheel_joint" type="continuous">
  <origin xyz="-0.115 -0.175 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="back_right_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="lidar_joint" type="fixed">
  <origin xyz="0.0 0.00057 0.283" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

</robot>
